// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"darkgreen": #004032,
	"green": #b0ffc5,
	"yellow": #ffd300,
	"red": #ff0000,
	"white": #ffffff,
	"grey": rgba(245, 245, 245, 0.46),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
/*generelt*/
h1,h2,h3,.text{
	font-family: "roboto-condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
p,.instru{
	font-family: instrument-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}
/*forside*/
.videobg{
	height: 1000px;
}

.tekst1{
	padding-bottom: 200px;
}
.fstal{
	font-size: 4rem;
}
.banner{
	height: 1000px;
}

.bowbanner{
	background-color: red;
	height: 15px;
}
.typewriterBanner{
	height: 350px;
}
.stotHer:hover{
	color: #004032;
	text-decoration: none;
}

/*navbar*/


/*julekort*/

.bgimg {
	background-image: url("../images/lys.png");
	height: auto;
	width: 100vw;
	background-size: cover;       // Billedet dækker hele baggrunden
	background-position: center;  // Centrer billedet
}

/*Pop tak besked*/
#donationPopup
.modal-content {
	border-radius: 1rem;
	background-color: #f1f1f1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

#gaveIkon{
	right:9px;
	bottom:74px;
}

#juletraIllustration{
	right:-437px;
	bottom:37px;
}

/*Cards forside*/
.card{
	background-color: #f1f1f1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

}
.leftQR{
	left: 520px;
}

/*vælgPakke*/

.kontaktpers{
	font-size: 0.8rem;
}
.tabemnersm{
	font-size: 0.9rem;
}

/*404-side*/
.tal404{
	font-size: 6rem;
}

/*Pop-up TAK*/

.julebg{
	background-image: url("../images/juletra.png");
	height: 600px;
	width: 100%;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;

}
.tak{
	font-size: 4rem;

}
.takmt{
	margin-top: 100px;
}
.takmttop{
	margin-top: 130px;
}
.left{
	left: 90%;
}
.left1500{
	left: 3%;
}

//footer
.SoMeIcon{
	font-size: 4rem;
}



