// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url("https://use.typekit.net/bgk1pno.css");
@import url("https://use.typekit.net/bgk1pno.css");

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"darkgreen": #004032,
	"green": #b0ffc5,
	"yellow": #ffd300,
	"red": #ff0000,
	"white": #ffffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

h1,h2,h3,.text{
	font-family: "roboto-condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
p{
	font-family: instrument-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.videobg{
	height: 1000px;
}

.tekst1{
	padding-bottom: 200px;
}
.banner{
	height: 1000px;
}

/*julekort*/

/*Pop tak besked*/
#donationPopup
.modal-content {
	border-radius: 1rem;
	background-color: #f1f1f1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

#gaveIkon{
	right:9px;
	bottom:74px;
}

#juletraIllustration{
	right:-437px;
	bottom:37px;
}

/*Cards forside*/
.card{
	background-color: #f1f1f1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

}
#pakkeIkon {
	right:-8px;
	bottom:131px;
}
#pakkeIkon2{
	right:-301px;
	bottom:131px;
}