// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url("https://use.typekit.net/bgk1pno.css");
@import url("https://use.typekit.net/bgk1pno.css");

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"darkgreen": #004032,
	"green": #b0ffc5,
	"yellow": #ffd300,
	"red": #ff0000,
	"white": #ffffff,
	"grey": rgba(245, 245, 245, 0.46),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

h1,h2,h3,.text{
	font-family: "roboto-condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
p,.instru{
	font-family: instrument-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.videobg{
	height: 1000px;
}

.tekst1{
	padding-bottom: 200px;
}
.banner{
	height: 1000px;
}

/*julekort*/

